<!DOCTYPE html>
<html>
<head>
    <title>Combat sport</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/back.css">
    <link rel="stylesheet" href="css/app.css">

</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns play1">
            <h1 class="text-center">Mlle Conflit</h1>
            <div class="healthbar">
                <div 
                    class="healthbar text-center" 
                    style="background-color: green; margin: 0; color: white;"
                    :style="{width: playerHealth + '%'}">
                    {{ playerHealth }}
                </div>
            </div>
        </div>
        <div class="small-6 columns play2">
            <h1 class="text-center">Mr Haine</h1>
            <div class="healthbar">
                <div 
                    class="healthbar text-center" 
                    style="background-color: green; margin: 0; color: white;"
                    :style="{width: monsterHealth + '%'}"
                    >
                    {{ monsterHealth }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" 
            @click="specialAttack(); counter += 1" 
            v-show="hideSpecial == false"> {{ reste }} SPECIAL ATTACK  </button>
            <button id="heal" @click="heal(); countHeal += 1" v-show="hideSoin == false"> {{ soin }} HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>
    
    <section class="row log" v-if="turns.length > 0">
        <div class="small-12 columns">
            <ul>
                <li v-for="turn in turns"
                :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
                    {{ turn.text }}
                </li>
            </ul>
        </div>
    </section>

    <div class="text-center" v-if="!gameIsRunning">
        <div class="img mb-2" data-aos="fade-down"><img width="500px" src="image/win.jpg" alt=""></div>
        <div class="img mb-2" data-aos="fade-in" data-aos-duration="3000"><img width="500px" src="image/lost.png" alt=""></div>
    </div>
    
    <div class="text-center" v-else>
        <div class="img mb-2" data-aos="flip-left" data-aos-duration="3000"><img width="500px" src="image/lost.png" alt=""></div>
        <div class="img mb-2" data-aos="flip-up" data-aos-duration="3000"><img width="500px" src="image/win.jpg" alt=""></div>

    </div>
</div>
        <script src="js/vue.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
                
            });
        </script>
</body>
</html>